black
dask
deltalake
django
duckdb
flake8
hvplot
importlib-metadata==4.8.3
jupyter
load_dotenv
matplotlib
mne
netCDF4
numpy
pandas

polars
pre-commit

prefect
prefect-dask
psycopg2-binary
python-keystoneclient

python-swiftclient 
seaborn
