black
bs4
dash
dash[testing]
dask
deltalake
duckdb
edfio
flake8
google-cloud-storage
importlib-metadata==4.8.3
jupyter
load_dotenv
matplotlib
mne
netcdf4
notion_client
numpy
pandas
pre-commit
psycopg2-binary
pyarrow
pyedflib
pytest
pytest-recording
python-keystoneclient
python-swiftclient
setuptools
tqdm
xarray
